{% extends 'core/base.html' %}

{% block title %}
    Productos
{% endblock title %}

{% block content %}
  <h1>Productos</h1>

  <div class="d-grid gap-3">
    <a href="{% url 'producto:productocategoria_list' %}" >
        <button class="btn btn-primary">
            Categorías de Productos
        </button>
    </a>
    <a href="{% url 'producto:productocategoria_create' %}" >
        <button class="btn btn-primary">
            Creat Categoría de Productos
        </button>
    </a>
  </div>

{% endblock content %}