{% extends 'core/base.html' %}

{% block title %}
    Categorías de Productos
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Categorías de Productos</h1>

    <div class="mb-4">
      <input type="text" class="form-control" placeholder="Buscar Categorías">
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for categoria in object_list %}
          <tr>
            <td>{{ categoria.nombre }}</td>
            <td>
              <a href="{% url 'producto:productocategoria_detail' categoria.id %}" class="btn btn-primary me-2">Ver</a>
              <a href="{% url 'producto:productocategoria_update' categoria.id %}" class="btn btn-warning me-2">Editar</a>
              <a href="{% url 'producto:productocategoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">No hay categorías disponibles.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}