{% extends 'core/base.html' %}

{% block title %}
    Detalle de Categoría
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Detalle de Categoría</h1>

    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">{{ object.nombre }}</h5>
        <p class="card-text">{{ object.descripcion }}</p>
      </div>
    </div>

    <div class="mt-4">
      <a href="{% url 'producto:productocategoria_list' %}" class="btn btn-primary">Volver a la Lista</a>
      <a href="{% url 'producto:productocategoria_update' object.id %}" class="btn btn-warning">Editar</a>
      <a href="{% url 'producto:productocategoria_delete' object.id %}" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
{% endblock content %}