{% extends 'core/base.html' %}


{% block content %}
    <h2>VIAJES</h2>
    <h3>Listado de mis Viajes</h3>

    <table border="1">
        <thead>
            <th>Usuario   </th>
            <th>Fecha Inicio   </th>
            <th>Fecha Fin   </th>
            <th>Loc. Inicio   </th>
            <th>Loc. Destino   </th>
            <th>Km Recorridos   </th>
            <th>Comentarios</th>
        </thead>
        <tbody>
            {% for viaje in viajes %}
                <tr>
                    <td>{{ viaje.perfil.apellido }}, {{ viaje.perfil.nombre }} - {{ viaje.perfil.moto }}</td>
                    <td>{{ viaje.fecha_ini }}</td>
                    <td>{{ viaje.fecha_fin }}</td>
                    <td>{{ viaje.localidad_ini }}</td>
                    <td>{{ viaje.localidad_fin }}</td>
                    <td>{{ viaje.km_recorridos }}</td>
                    <td>{{ viaje.comentarios }}</td>
                    <td> <a href="{% url 'bitacora:viaje_editar' viaje.id %}" class="btn btn-success">Editar</a> </td>
                    <td> <a href="{% url 'bitacora:viaje_borrar' viaje.id %}" class="btn btn-danger">Borrar</a> </td>
                    <td> <a href="{% url 'bitacora:viaje_etapa_list' viaje.id %}" class="btn btn-info">Etapas</a> </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    <button><a href="{% url 'bitacora:index' %}" class="btn btn-secondary">Atrás</a></button>    
{% endblock content %}